/*sf style changes
div.process-progress-bar .progress-orb-text {
     line-height: 49px; 
     font-weight: bold; 
    line-height: 1rem;
    font-size: 1rem;
    letter-spacing: 0;
}

div.process-progress-bar .selected {
    border: 1px solid #035597;
    border: 6px solid #a1cf55;
}

div.process-progress-bar .progress-orb {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    border: 6px solid #a1cf55;
}

div.process-progress-bar .divider {
    margin-top: 12px;
    border-top: 6px solid #a1cf55;
}

div.process-progress-bar .complete {

    fill: #a1cf55;
    border: 6px solid #a1cf55;
}

element style of svg tick -
element.style {
    width: 18px;
    height: 18px;
    vertical-align: top;
}
*/
h3.line-title {
  border-bottom: 1px solid #dee2e6;
  line-height: 0.1em;
  margin-bottom: 30px;
}
h3.line-title span {
  background: #fff;
  padding: 0 10px 0 0px;
}

.d-visible {
  visibility: hidden;
}

[data-errormsg] {
  margin-bottom: 10px;
  display: block;
  color: var(--red);
}

.flex-controls {
  align-items: center;
  justify-content: space-between;
  line-height: 38px;
}

.estimate-wrapper {
  display: flex;
  align-items: baseline;
}
.estimate-wrapper label,
.estimate-wrapper input[type=radio] {
  margin-right: 10px;
}

.step-detail .btn:first-of-type {
  margin-right: 10px;
}

.control-gap {
  margin-bottom: 10px;
}

.progressbar {
  counter-reset: step;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-left: 0px;
}

.card {
  z-index: 0;
}

.progressbar li {
  list-style-type: none;
  width: 15%;
  font-size: 12px;
  line-height: 18px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  color: #d5d8ec;
}

.progressbar li:before {
  width: 30px;
  height: 30px;
  content: counter(step);
  counter-increment: step;
  border: 6px solid #a1cf55;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  background-color: white;
}

.progressbar li.completed:before {
  width: 30px;
  height: 30px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f00c";
  /*content: counter(step);
    counter-increment: step;*/
  line-height: 20px;
  border: 6px solid #a1cf55;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  background-color: white;
  color: #035597;
}

.progressbar li:after {
  width: 100%;
  height: 10px;
  content: "";
  position: absolute;
  background-color: #a1cf55;
  top: 10px;
  left: -50%;
  z-index: -1;
}

.progressbar li:first-child:after {
  content: none;
}

.progressbar li.active:before {
  border-color: #a1cf55;
}

.progressbar li.completed:before {
  color: #a1cf55;
}

.progressbar li.active:after {
  background-color: #a1cf55;
}

.progressbar li.completed:after {
  background-color: #a1cf55;
}

.progressbar li.active {
  color: initial;
}

@media only screen and (max-width: 768px) {
  .progressbar li {
    width: 20%;
    font-size: 8px;
  }
}
.notification-alert {
  position: relative;
  display: block;
  font-size: 16px;
  margin-bottom: 16px;
  position: relative;
  border-radius: 4px;
}
.notification-alert .notification-alert-wrapper {
  border-radius: inherit;
  display: flex;
}
.notification-alert .notification-alert-wrapper div:first-of-type {
  border-radius: 4px 0 0 4px;
  background-color: #035597;
}
.notification-alert .notification-alert-wrapper div:first-of-type img {
  margin: 8px;
  align-self: center;
  min-width: 16px;
}
.notification-alert .notification-alert-wrapper .notification-alert-content {
  border: 1px solid #035597;
  border-radius: 0 4px 4px 0;
  padding: 10px;
  flex: 1 auto;
}/*# sourceMappingURL=styles.css.map */